{% extends 'base.html.twig' %}

{% block title %}Inscription d'hébergement sur Record.com{% endblock %}

{% block body %}

{#
    how to get pic in from db

    {% for pic in img %}
        <div>
            <h2>teaser pic</h2>
            <img src="{{ asset(pic.teaserPic) }}" alt="pic" width="200px">
        </div>

        {% for opt_pic in pic.optionalPics %}
            <div>
                <h2>Optional pics</h2>
                <img src="{{ asset(opt_pic) }}" alt="opt_pics" width="200">
            </div>
        {% endfor %}

    {% endfor %}
#}

    <section>
        <h1>Comment recevez-vous vos reservations</h1>

        {{ form_start(howToReserveForm) }}
            <div>
                {{ form_errors(howToReserveForm.howToReserve) }}
                {{ form_label(howToReserveForm.howToReserve) }}<br >
                {{ form_widget(howToReserveForm.howToReserve) }}
            </div>

            <button type="submit">Continuer</button>
        {{ form_end(howToReserveForm) }}
    </section>
{% endblock %}