{% extends 'base.html.twig' %}

{% block title %}{{ housing_name }}.{% endblock %}

{% block body %}
    <section>
        <h1>
            <a href="{{ path('partner_admin_home') }}">Record.com</a>
        </h1>

        <p>
            <a href="{{ path('partner_logout') }}">Déconnexion</a>
        </p>

        <details>
            <summary>{{ housing_name }} | {{ housing_id }}</summary>

            <div>
                {# tous les éléments à l'intérieur de ce div sont des liens et ses liens doivent rediriger vers soit l'apercu de l'appartement, soit vers la page de reservation de cet appartement #}

                <a href="#" title="preview">
                    {% for my_house in housing_save %}

                        {% set housingPictures = housing_pictures[my_house.housingId] %}
                        {% for picture in housingPictures %}

                            <p>
                                <img src="{{ asset(picture.teaserPic) }}" alt="img" width="100px">
                            </p>

                        {% endfor %}

                        <p>
                            {{ my_house.housingName }}
                        </p>

                        <p>
                            {{ my_house.housingId }}
                        </p>
                    {% endfor %}
                </a>

            </div>
        </details>
    </section>
{% endblock %}