{% extends 'base.html.twig' %}

{% block title %}Page d'accueil du groupe.Record.com{% endblock %}

{% block body %}
    <h1>Page d'accueil du groupe</h1>

    {% for house in all_housing %}

        <div style="display: flex; justify-content: space-around">
            <p>
                <strong>Identifiant</strong><br >
              <a href="{{ path('partner_admin_housing_details', {'housing_id' : house.housingId }) }}" target="_blank">{{ house.housingId }}</a>
            </p>

            <p>
                <strong>Établissements</strong><br >
                {{ house.housingName }}, {{ house.housingAddress }}, {{ house.housingTown }}
            </p>

            <p>
                <strong>Status</strong><br >
                {% set housingStatus = housing_status[house.housingId] %}

                {% if housingStatus is empty %}
                    <span>Non disponible</span>
                {% else %}

                    {% for status in housingStatus %}

                        {% if status.status %}
                            <span>Ouvert / Reservable</span>
                        {% else %}
                            <span>Fermé / Non reservable</span>
                        {% endif %}

                    {% endfor %}
                {% endif %}

            </p>
        </div>

    {% endfor %}
{% endblock %}