{% extends 'base.html.twig' %}

{% block title %}Hotel {# mot clé de la recherche ici #}{% endblock %}

{% block body %}
    <h1>Search results</h1>

    {# housing searching form here just for display value of main form #}
    {{ form_start(searchingForm) }}
        <div style="display: flex;">
            <div>
                {# , {'attr' : {'value' : app.request.query.get('town') ?? (searchingForm.town.vars.value ?? (housingConfigurationSess is not empty ? housingConfigurationSess : null))}}) #}
                {# quand on fait une recherche dans la page des recherches mettre le mot de la recherche dans le formulaire #}
                {{ form_widget(searchingForm.town) }}
                {{ form_errors(searchingForm.town) }}
            </div>

            <details>
                <summary id="summary">Personne : . Enfant : </summary>
                <div>
                    Adult : {{ form_widget(searchingForm.peopleCanStay) }}
                </div>

                <div>
                    Enfant : {{ form_widget(searchingForm.kidIsAccept) }}
                </div>

                <button id="finishBtn">Terminé</button>
            </details>

            <div>
                <button type="submit">Rechercher</button>
            </div>
        </div>
    {{ form_end(searchingForm) }}

    {# housing research results #}
    <div>
        {% if searchingForm.vars.submitted and searchingForm.vars.valid %}
            {% if housingGeneralInfo is not empty %}
                {% if housingConfiguration is not empty %}

                    <h2>{{ searchingForm.town.vars.value}} :  {{ housingConfiguration|length }} établissements trouvés</h2>


                    {% for config in housingConfiguration %}
                        <div style="display: flex; border: 1px solid">
                            {% for pic in housingPictures %}
                                {% if pic.housingGeneralInfo.housingId == config.housingGeneralInfo.housingId %}
                                    <a href="{{ path('reservation', {'housing_id' : config.housingGeneralInfo.housingId}) }}" target="_blank">
                                        <img src="{{ asset(pic.teaserPic) }}" alt="{{ config.housingGeneralInfo.housingName }}" width="200px" height="200px" style="display: block">
                                    </a>
                                {% endif %}
                            {% endfor %}

                            <p>
                                <a href="{{ path('reservation', {'housing_id' : config.housingGeneralInfo.housingId}) }}" target="_blank"">
                                    {{ config.housingGeneralInfo.housingName }}
                                </a>
                            </p>

                            {% if reservationPrice[config.housingGeneralInfo.housingId] is defined %}
                                <p>
                                    <strong>XOF {{ reservationPrice[config.housingGeneralInfo.housingId] }}</strong>
                                </p>
                            {% endif %}
                        </div>
                    {% endfor %}


                {% else %}
                    <p>Aucun appartement trouvé pour ce filtre</p>
                {% endif %}
            {% else %}
                <p>Aucune ville trouvée</p>
            {% endif %}
        {% endif %}

    </div>


    <div>
        {# result with session datas #}
        {% if housingConfigurationSess is not empty %}
            <h2> {{ searchingForm.town.vars.value}} : {{ housingConfigurationSess|length }} résultats trouvés</h2>


            {% for config in housingConfigurationSess %}
                <div style="display: flex; border: 1px solid gray">
                    {% for picSess in housingPicturesSess %}
                        {% if picSess.housingGeneralInfo.housingId == config.housingGeneralInfo.housingId %}
                            <a href="{{ path('reservation', {'housing_id' : config.housingGeneralInfo.housingId}) }}" target="_blank">
                                <img src="{{ asset(picSess.teaserPic) }}" alt="{{ config.housingGeneralInfo.housingName }} image" style="max-width: 200px; height: 200px; display: block">
                            </a>
                        {% endif %}
                    {% endfor %}

                    <p>
                        <a href="{{ path('reservation', {'housing_id' : config.housingGeneralInfo.housingId}) }}" target="_blank">
                            {{ config.housingGeneralInfo.housingName }}
                        </a>
                    </p>

                    <p>
                        {% if pricePerNightSess[config.housingGeneralInfo.housingId] is defined %}
                            <strong>XOF {{ pricePerNightSess[config.housingGeneralInfo.housingId] }}</strong>
                        {% else %}
                            Price not available
                        {% endif %}
                    </p>
                </div>
            {% endfor %}


        {% endif %}
    </div>


    {% if housingConfigurationSess is empty and (housingConfiguration is empty or not searchingForm.vars.submitted) %}
        <div>
            {# popular destination result #}
            <h2>{{ town }} : {{ popularDestinationResult|length }} établissements trouvés</h2>
            {% for townResult in popularDestinationResult %}
                <div style="border: 1px solid; display: flex; margin-bottom: 20px">
                    {% for picture in townResult.pictures %}
                        <a href="{{ path('reservation', {'housing_id' : townResult.housingId}) }}" target="_blank">
                            <img src="{{ asset(picture.getTeaserPic()) }}" alt="{{ townResult.housingName }}" width="200px" height="200px" style="display: block">
                        </a>
                    {% endfor %}

                    <p>
                        <a href="{{ path('reservation', {'housing_id' : townResult.housingId}) }}" target="_blank">
                            {{ townResult.housingName }}
                        </a>
                    </p>


                    <p>
                        {% for pricing in townResult.priceAndSchedule %}
                            <strong>XOF {{ pricing.pricePerNight }}</strong>
                        {% endfor %}
                    </p>
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}




{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('finishBtn').addEventListener('click', function(event) {
                event.preventDefault(); // Empêcher le rechargement de la page

                var peopleCanStay = document.getElementById('searches_housing_types_peopleCanStay').value;

                var kidIsAcceptElements = document.getElementsByName('searches_housing_types[kidIsAccept]');
                var kidIsAccept;
                for (var i = 0; i < kidIsAcceptElements.length; i++) {
                    if (kidIsAcceptElements[i].checked) {
                        kidIsAccept = kidIsAcceptElements[i].value;
                        break;
                    }
                }

                var summaryText = `Personne : ${peopleCanStay}. Enfant : ${kidIsAccept}`;
                document.getElementById('summary').textContent = summaryText;
            });

            // Optionnel : intercepter la soumission du formulaire pour empêcher le rechargement de la page
            document.getElementById('finishBtn').addEventListener('submit', function(event) {
                event.preventDefault(); // Empêcher le rechargement de la page
                // Vous pouvez ajouter ici votre logique de traitement du formulaire via AJAX par exemple
            });
        });
    </script>
{% endblock %}